@charset "utf-8";

/*내용*/
.sm_category { background:url(var.gif) no-repeat right center; padding-right:5px; margin-right:5px; color:#666; text-decoration:none}

/*댓글*/
.ppp {padding-left:15px; margin-left:15px; background:url(iconReply.gif) no-repeat 0px 5px; display:block; z-index:5;}

/* view_Document.html */
.smVt li{padding:7px 10px; line-height:18px;}