@charset 'utf-8';

@import url(./layout.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); /* font-family: 'Nanum Gothic', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Exo+2:200,400); /* font-family:'Exo 2', sans-serif; */

button.btn2 {padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:92px;cursor:pointer;}
button.btn3 {padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:227px;cursor:pointer;}
button.btn41 {padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:518px;cursor:pointer;}
button.btn42 {padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:556px;cursor:pointer;}
button.btn5 {padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:619px;cursor:pointer;}
button.btn6 {padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:734px;cursor:pointer;}
button.btn7 {padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:810px;cursor:pointer;}
body{font-size:16px;font-family: 'Nanum Gothic', sans-serif;}
.container{width:100%;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;background:#fff;}
.wrapper{position:relative;}
.wrapper-open{width:100%!important;position:relative;}
@media only screen and (min-width: 641px){
    /* tablet + mobile */
    .wrapper{margin:0;}
}
@media only screen and (min-width: 997px){
    /* desktop; medium size */
    .wrapper{width:96%;max-width:1220px;margin:0 auto;}
}
@media only screen and (min-width:1441px){
    /* desktop; large size */
    .wrapper{width:1440px;margin:0 auto;}/* maximum page width */
}

header{background:#222;color:#fff;font-family:'Exo 2', sans-serif;}
h1{font-size:1em;padding:0 0 0 20px;text-align:left;font-weight:400;font-size:1.5em;}
@media only screen and (max-width: 640px){
    h1{padding:0;text-align:center;}
}

p{margin:0;padding:10px;}

.content{}
.content .title{padding:50px 10px 10px;background:#ddd;color:#fff;font-size:2em;}
@media only screen and (max-width: 640px){
    .content .title{padding:10px;font-size:1.5em;}
}

.content .item{padding:10px 5px 5px;}

.content ul{padding:0;margin:0;list-style:none;}
.content ul li{position:relative;padding:15px 10px;border-bottom:1px dashed #ddd;font-size:0.875em;}
.content ul li.highlight{color:#ff0058;}
.content ul li a{font-weight:700;}
.content ul li button.btn3{padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:16%;cursor:pointer;}
.content ul li button.btn4{padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:15%;cursor:pointer;}
.content ul li button.btn2{padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:10px;top:16%;cursor:pointer;}
.content ul li button.btn{padding:7px 20px;border:1px solid #444;border-radius:2px;background:#fff;position:absolute;right:140px;top:51%;cursor:pointer;}
.content ul li button:hover{background:#444;color:#fff;}
.content ul li button:active{border-color:#888;background:#888;color:#fff;}
.content ul li button.disable{opacity:0.3;cursor:no-drop;}
.content ul li button.disable:hover{background:inherit;color:inherit;}
.content ul li button.disable:active{border-color:inherit;background:inherit;color:inherit;}

.box{margin:0;padding:10px;border:1px dashed #ddd;}