<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants>
	</grants>
	<actions>
		<action name="dispSejin7940_commentOwnComment" type="view"  standalone="true" />		
		<action name="dispSejin7940_commentAdminConfig" type="view"  standalone="true" admin_index="true" />		

		<action name="procSejin7940_commentAdminConfig" type="controller" />		
		<action name="procSejin7940_commentDeleteComment" type="controller" />		
		
	</actions>
</module>
